@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik+Puddles&display=swap');
:root{
     --logo-font-size: 2.5rem;
     --logo-font-weight: bold;
     --logo-font-family: 'Rubik Puddles';
     --logo-color: rgb(57, 2, 207);
     --logo-color-hover: rgb(253, 64, 17);
     --logo-color-active: rgb(253, 64, 17);
     --logo-color-focus: rgb(253, 64, 17);
     --logo-color-disabled: rgb(57, 2, 207);
     --font-color-primary: rgb(253, 17, 233);
     --font-color-secondary: #013E8D;
     --font-size-primary: 1.5rem;
     --font-size-secondary: 1.2rem;
     --font-size-tertiary: 1rem;
     --font-family-primary: 'Poppins',sans-serif;
     --font-family-secondary:  Arial, Helvetica, sans-serif
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: var(--font-family-primary); 
}
html{
     scroll-behavior: smooth;
}
body{
     background-color: rgb(255, 255, 255);
     color: rgb(80, 17, 253);
     text-transform: capitalize;
     overflow-x: hidden;
}
header{
     background-color: rgb(255, 255, 255);
     height: 10vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 2rem;
     box-shadow: 0px 0px 10px #333;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1;
     width: 100%;
     flex-wrap: wrap;
}
header .Logo{
     font-size: var(--logo-font-size);
     font-weight: var(--logo-font-weight);
     font-family: var(--logo-font-family);
     color: var(--logo-color);
     cursor: pointer;
     transition: all 0.3s ease-in-out;
}

header .Logo a{
     text-decoration: none;
}

header .Logo a:hover{
     color: var(--logo-color-hover);
}
header .Logo a:active{
     color: var(--logo-color-active);
}
header .Logo a:focus{
     color: var(--logo-color-focus);
}
header .Logo a:disabled{
     color: var(--logo-color-disabled);
}
header ul{
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style: none;
}
header ul li{
     font-size: var(--font-size-secondary);
     font-weight: bold;
     color: var(--font-color-secondary);
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     padding: 0 1rem;
}
header ul a{
     text-decoration: none;
     color: var(--font-color-secondary);
}
header ul a:hover{
     color: var(--font-color-primary);
}

.herosection{
     background-color: rgb(255, 255, 255);
     height: 100vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow: 0px 0px 10px #333;
     height: 100vh;
     width: 100%;
}
.herosection .hero{
     font-size: var(--font-size-primary);
     font-weight: bold;
     color: var(--font-color-primary);
     text-align: center;
     padding: 0 4rem;
}
.herosection .hero p{
     font-size: var(--font-size-tertiary);
     font-weight: bold;
     color: var(--font-color-secondary);
     text-align: center;
     padding: 0 2rem;
}
.herosection .heroimg{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.herosection .heroimg img{
     height: 75%;

}
.godown{
     background-color: rgba(255, 255, 255, 0);
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1;
     animation: bounce 3s ease-in-out infinite;
     animation-delay: 3s;
}
@keyframes bounce{
     0%{
          transform: translateY(0);
     }
     5%{
          transform: translateY(-10px);
     }
     10%{
          transform: translateY(0);
     }

     15%{
          transform: translateY(-10px);
     }

     20%,100%{
          transform: translateY(0);
     }
}  
.godown .godownimg img{
     height: 75%;
}
.godown p{
     font-size: var(--font-size-tertiary);
     font-weight: bold;
     color: var(--font-color-secondary);
     text-align: center;
     padding: 0 2rem;
}
.godown a{
     text-decoration: none;
}

.tutorialcards{
     background-color: rgb(255, 255, 255);
     height: 100vh;
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     box-shadow: 0px 15px 10px -15px #333;
     overflow-x: scroll;
     padding: 1rem 2rem;
     margin: 5rem 0 0 0;
}
.tutorialcards .card{
     height: 100%;
     width: calc(100vh/3);
     min-width: 25rem;
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     align-items: center;
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 0px 10px #333;
     transition: all 0.3s ease-in-out;
     border-radius: 10%;
}
.card img{
     height: 25rem;
     width: 100%;
     object-fit: cover;
     padding: 0.5rem;
     position: relative;
     top: 0;
     border-radius: 10%;
}
.tutorialcards .card:hover{
     box-shadow: 0px 0px 10px #333;
}
.tutorialcards .card:hover .cardimg img{
     transform: scale(1.1);
}

.cardtext{
     font-size: var(--font-size-secondary);
     font-weight: bold;
     color: var(--font-color-secondary);
     text-align: center;
     padding: 0 2rem;
}
.cardtext a{
     color: var(--font-color-secondary);
}


.testcards{
     background-color: rgb(255, 255, 255);
     height: 100vh;
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     overflow-x: scroll;
     margin: 5rem 0 0 0;
     padding: 0.5rem;
}
.testcards .card{
     height: 100%;
     width: calc(100vh/3);
     min-width: 25rem;
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     align-items: center;
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 0px 10px #333;
     transition: all 0.3s ease-in-out;
     border-radius: 10%;
}
.card img{
     height: 25rem;
     width: 100%;
     object-fit: cover;
     padding: 0.5rem;
     position: relative;
     top: 0;
     border-radius: 10%;
}
.testcards .card:hover{
     box-shadow: 0px 0px 10px #333;
}
.testcards .card:hover .cardimg img{
     transform: scale(1.1);
}

.cardtext{
     font-size: var(--font-size-secondary);
     font-weight: bold;
     color: var(--font-color-secondary);
     text-align: center;
     padding: 0 2rem;
}
.cardtext a{
     color: var(--font-color-secondary);
}

.tests h1{
     font-size: var(--font-size-primary);
     font-weight: bold;
     color: var(--font-color-primary);
     text-align: center;
     padding: 0 2rem;
}
.tests{
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 15px 10px -15px #333;
     padding: 1rem 2rem;
     margin: 5rem 0 0 0;
}